---
permalink: /404.html
layout: default
---

<link rel="stylesheet" href="https://latex.now.sh/style.css" />
<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }

  h2 {
    margin: 30px 0;
    font-size: 2em;
    line-height: 1;
    letter-spacing: -1px;
  }

</style>

<div class="container">
  <h1>404</h1>
  <h2><strong>No hay, no existe :/ </strong></h2>
</div>
